@font-face {
  font-family: chalk;
  src: url(../fonts/DCC.ttf);
}
@font-face {
  font-family: metamorphous;
  src: url(../fonts/Metamorphous.ttf);
}

.gamecard {
  -webkit-transition: margin-left 1.5s ease;
  -moz-transition: margin-left 1.5s ease;
  -o-transition: margin-left 1.5s ease;
  transition: margin-left 1.5s ease;
  position: fixed !important;
  bottom: 358px;
  left: 15px;
}
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.gamecard img {
  border-radius: 7px;
}

.back img {
  line-height: 100px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: url(../asset/cursor-click.png);
}
#stack {
  position: fixed;
  bottom: 51px;
}

#carteperceval {
  position: fixed;
  bottom: 451px;
  right: 440px;
  display: none;
  font-family: metamorphous;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 1em;
  color: #fff;
  font-weight: bold;
}
#carteperceval p {
  margin-top: 211px;
  position: absolute;
  margin-left: 4px;
}

body {
  min-height: 100vh;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  cursor: url(../asset/cursor.png) 10 2, auto;
  overflow: hidden;
}
*:active {
  cursor: url(../asset/cursor-click.png) 10 2, auto;
}
.blur {
  -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
  filter: blur(5px);
}
#rules .modal-dialog {
  max-width: 50vw !important;
}
.perceval {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin: 0;
}
.perceval-avatar {
  position: absolute;
  bottom: 0px;
}

#titre {
  font-family: metamorphous;
  font-size: 5em;
  text-shadow: 3px 3px 2px rgba(17, 16, 16, 0.753);
  top: 10vh;
  position: fixed;
  left: 10vw;
  color: rgba(255, 255, 255, 0.829);
  z-index: 1;
}
.logo {
  top: 5vh;
  position: fixed;
  left: 10vw;
}
.arthur {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  margin: 0;
}

.arthur-avatar {
  position: absolute;
  bottom: -126px;
  right: 0px;
  width: 430px;
}

.noborder {
  border: none !important;
}
.modal {
  overflow: hidden;
}
.modal-content {
  background-color: #02010199 !important;
  min-height: 25vh;
}

.modal-backdrop {
  opacity: 0.8 !important;
}
.modal::after {
  -webkit-filter: blur(5px) !important;
  -moz-filter: blur(5px) !important;
  -o-filter: blur(5px) !important;
  -ms-filter: blur(5px) !important;
  filter: blur(50px) !important;
}

#rules .modal-content {
  background-color: #fff !important;
  min-height: 25vh;
  color: rgb(28, 28, 29);
}
.dialoguebtn {
  background: none;
  color: white;
  border: none;
}
.fa {
  opacity: 0.8;
}
.fa-book {
  color: white;
  border-radius: 50%;
  animation: op 3s ease infinite;
}
@keyframes op {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
.bourse {
  position: fixed;
  bottom: 6vh;
  width: 200px;
  left: 250px;
  z-index: -1;
}
.defeat {
  position: fixed;
  top: -100vh;
  width: 40vw;
  left: 24vw;
  z-index: 99;
  display: none;
}
.victory {
  position: fixed;
  top: -100vh;
  width: 40vw;
  left: 30vw;
  z-index: 99;
  display: none;
}

#arrow {
  position: fixed;
  margin-left: 45vw;
  margin-right: auto;
  width: 10vw;

  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  animation: glow 1000ms ease-out infinite alternate;
}
#arrow.top {
  top: 0px;
}
#arrow.bottom {
  bottom: 0px;
}
#arrow p {
  text-align: center;
}
#arrow img {
  margin-left: 4vw;
  width: 2vw;
}
#arrow.top img {
  transform: rotate(180deg);
}

#arrowtext {
  font-family: metamorphous;
}
@keyframes glow {
  0% {
    -webkit-filter: drop-shadow(0px 0px 8px rgb(255, 200, 0));
    margin-top: 5px;
    margin-bottom: 5px;
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 252, 154, 0.8));
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#score {
  font-family: chalk;
  font-size: 10em;
  position: fixed;
  right: 121px;
  top: 28vh;
  transform: rotate(-21deg);
  color: rgba(254, 249, 249, 0.64);
  line-height: 54px;
}
#scored {
  font-family: chalk;
  font-size: 2.5em;
  position: fixed;
  right: 236px;
  bottom: 3vh;
  transform: rotate(-27deg);
  color: rgba(254, 249, 249, 0.64);
  line-height: 54px;
  display: none;
}
#slash {
  margin-left: 48px;
  transform: rotate(34deg);
  margin-top: 39px;
}
#denominateur {
  margin-left: 83px;
  margin-top: -56px;
}
.money {
  position: absolute;
  width: 100px;
  z-index: 0;
}
#piece1 {
  position: absolute;
  top: 70vh;
  right: 10vh;
}
#ecu {
  font-family: metamorphous;
  color: rgba(254, 249, 249, 0.64);
}
.ease {
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease;
}
.ease img {
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease;
}
.ease2 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ease2 img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grow {
  position: fixed !important;
  bottom: 800px !important;
  text-align: center;
  left: 50%;
  margin-left: -175px; /* Half of the zoomed div*/
}

.grow img {
  width: 350px !important;
}

.onboard {
  position: fixed !important;
  bottom: 750px !important;
  /*margin-left: 15vw;*/
}

.onboard .back {
  transition: all 0s !important;
}

.shaking {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
i small {
  font-size: small;
}
#textperceval,
#textarthur {
  font-size: x-large;
}
#passe {
  width: 200px;
  position: fixed;
  bottom: -40px;
  left: 30vh;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}
#passe:hover {
  bottom: 0px;
  width: 300px;
  -webkit-filter: drop-shadow(7px 7px 7px black);
  filter: drop-shadow(7px 7px 7px black);
}

#abandon {
  width: 200px;
  position: fixed;
  bottom: -40px;
  left: 60vh;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}
#abandon:hover {
  bottom: 0px;
  width: 300px;
  -webkit-filter: drop-shadow(7px 7px 7px black);
  filter: drop-shadow(7px 7px 7px black);
}

#rules .modal-body h4 {
  font-family: metamorphous;
  margin-top: 25px;
  text-decoration: underline;
}
.percevalrules {
  color: steelblue;
}

.arthurules {
  color: firebrick;
}

#rules .modal-body p {
  line-height: 20px;
}
